body {
	background-color: #8cc5ed;
	background-image:linear-gradient(#3711f2, #8cc5ed);
	font-size: 0.7em;
	font-family: "Oxygen", sans-serif;
}

.introduction {
	text-align: right;
	color: #f5f071;
	border-bottom: 2px solid #f5f071;
	margin-bottom: 0;
}

.logo {
	float: left;
	font-size: 4em;
}

.portfolio {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.credits {
	text-align: right;
	color: #f5f071;
	border-top: #f5f071;
	font-size: 1em;
}

a:link {
	color: white;
}

a:visited {
	color: #f5f071;
}

h2 {
	text-align: center;
	color: #f5f071;
}

.main {
	max-width: 100%;
	height: auto;
	display: block;
	margin-top: 5px;
}

.project {
	width: 70px;
	height: 70px;
	display: block;
	margin: 10px;
	border: 2px solid black;
	border-radius: 10px;
	transition: all 0.5s;
}

img.project:hover {
	transform: scale(1.1);
}

@media screen and (min-width: 450px) {
	body { font-size: 1em; }
}

@media screen and (min-width: 480px) {
.project { width: 125px; height: 125px; }
}

@media screen and (min-width: 750px) {
	body { font-size: 2em; }
	.credits { font-size: 0.5em; }
	.project { width: 200px; height: 200px; }
}